@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is your global CSS Stylesheet */
/* Change on your own risk */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: "DM Sans", sans-serif;
  }

  /* This is the css for transparent mobile menu */
  .main-nav-menu-mobile {
    background: rgba(107, 106, 106, 0.5);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
  }

  /* Navbar --> Navbar.jsx */
  .header-menu > ul > li {
    border-bottom: 1px solid transparent;
  }

  .header-menu > ul > li:hover {
    color: black;
    border-bottom: 1px solid black;
    width: fit-content;
  }

  /* this is the css for the form gradient background */
  .form-section {
    background: url(/src/assets/herogradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    border-radius: 30px;
  }

  /*  this is the css for the purple underline for the first */
  .purple-underline-1 {
    position: relative;
    isolation: isolate;
  }

  .purple-underline-1::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #8b5cf6;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  }

  /*  this is the css for the purple underline for the second */
  .purple-underline-2 {
    position: relative;
    isolation: isolate;
  }

  .purple-underline-2::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #8b5cf6;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  }

  .testimonial {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left 90%,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }

  .testimonial__card__container {
    position: relative;
    z-index: 2;
    isolation: isolate;
  }
  .testimonial__card__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #1d2c4c;
    z-index: 0;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }
  .testimonial__card__container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #1d2c4c;
    z-index: 0;
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }

  .testimonial-card {
    scrollbar-width: none; /* Firefox */
  }

  /* Testimonial Section */
  .testimonial-card::-webkit-scrollbar {
    display: none;
  } /* Hide scrollbar for Chrome, Safari and Opera */

  .testimonial-card-box {
    background: #ffffff;
    box-shadow: 5px 5px 30px -12px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: 1px solid #d4d4d440;
    height: fit-content;
  }

  .style-with-stroke {
    -webkit-text-stroke: 2px #1A78F2;
    text-stroke: 2px #1A78F2;
    filter: drop-shadow(2px 2px 0 #1A78F2);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    width: 12px;
    height: 12px;
    background-color: #d4d4d4;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    z-index: 2;
  }

  .dot.active {
    background-color: #7c7c7c;
  }

  @media screen and (max-width: 768px) {
    .purple-underline-1::before {
      height: 7px;
    }
    .purple-underline-2::after {
      height: 7px;
    }
  }
  /* Shadow for form-container on hero section */
  .form-section {
    filter: drop-shadow(11px 11px 35px rgba(101, 104, 102, 0.14));
  }
  @media (max-width: 768px) {
    .testimonial__card__container::before,
    .testimonial__card__container::after {
      width: 30px;
    }
  }

  /* Blog Map Styles */
  .map-container {
    max-width: 800px;
    margin: 2rem auto;
    position: relative;
    filter: drop-shadow(11px 11px 35px rgba(101, 104, 102, 0.14));
  }

  .map-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #d4d4d440;
  }

  .map-container area:hover {
    cursor: pointer;
  }
}